/*此css文件主要包括两个模块的样式：左侧边栏的样式和正文样式*/
/*其中正文样式又囊括了导航、新闻、音乐、购物、视频等五大模块的样式*/

/*左侧边栏样式*/
#s_wrap{
    width: 100%;
    /*min-height: 100%;*/
    padding-bottom: 36px;
    margin-top:50px;
}
#s_main{
	margin: 0 auto;
    width: 911px;
    position: relative;
    z-index: 0;
}
.clearfix{
    zoom: 1;
}
.clearfix:after{
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}
.s-ctner{
    width: 911px;
    text-align: left;
    position: relative;
}
.s-ctner .s-ctner-menus{
    height: 318px;
    width: 80px;
    float: left;
    position: relative;
}
.s-ctner .s-ctner-menus .menus-ctner{
    height: 288px;
    width: 80px;
    overflow: hidden;
    position: relative;
}
.s-ctner .s-ctner-menus .menus-wrapper{
    position: relative;
    top: 0;
}
#s_main a{
    outline: none;
}
.s-ctner-menus .s-menu.current{
    color: #FFF;
    filter: none;
    font-weight: bold;
    background: url("../images/s_menu_309f0917.png") no-repeat;
    width: 80px;
    border-right: none;
    cursor: default;
}
.s-ctner-menus .s-menu{
	display: inline-block;
    position: relative;
    width:80px;
    height: 35px;
    line-height: 34px;
    font-size: 14px;
    color: #969494;
    text-align: center;
    background: #e9eaea;
    text-decoration: none;
}
.s-ctner-menus .s-menu.add{
    text-align: left;
    height: 32px;
}
.s-ctner-menus .s-menu.add span{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    left: 30px;
    background: url("../images/noskin_bg_650ea825.png") no-repeat -22px 0;
}
#s_main a, #s_main span{
    outline: none;
}
.s-ctner .s-ctner-menus .s-menu-fill{
    position: relative;
    display: inline-block;
    height: 288px;
    width: 80px;
    background: #e9eaea;
}
.s-ctner .s-ctner-contents{
    width: 813px;
    height: auto!important;
    /*height: 318px;*/
    min-height: 318px;
    float: right;
    position: relative;
}

/*导航样式*/
.s-ctner .s-ctner-contents {
    width: 813px;
    height: auto!important; 
    float: right;
    position: relative;
}
.s-ctner .s-ctner-contents .s-content{
	color: #222;
    background: #fff;
    border: 1px solid #E9E9E9;
    min-height: 318px;
    width: 811px;
    float: left;
}
.s-ns-navwrap {
    width: 811px;
    min-height: 311px;
    top: 0;
    left: 0;
    z-index: 1;
}
#s_content_1 .s-nall-tabs {
    height: 44px;
    width: 811px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #E9e9e9;
}
#s_content_1 .s-nall-tabs a.tab-on {
    font-weight: bold;
    border-bottom: 2px solid #42A0FE;
    height: 42px;
    line-height: 42px;
}
#s_content_1 .s-nall-tabs a {
    display: inline-block;
    width: 86px;
    color: #222;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    position: relative;
}
div#s_nall{
	color: #222;
}
/*导航样式之我的导航*/
.s-nplus {
    position: relative;
    width: 811px;
    font-size: 14px;
    min-height: 273px;
    _height: auto !important;
    _height: 273px;
}
.s-nall .s-nplus .s-haveno-test {
    height: auto;
}
.s-nplus .s-scroll-content {
    height: 253px;
    overflow: hidden;
    position: relative;
}
.s-nplus .s-nplus-ctner{
	min-height: 273px;
	position: relative;
}
.s-nplus .s-ncf{
	display: block;
    position: relative;
    padding-left: 20px;
    width: 791px;
}
.s-nplus .first .s-ncf-name {
    border-top: none;
    padding-top: 10px;
}
.s-nplus .s-ncf-name{
	float: left;
    width: 75px;
    font-size: 14px;
    text-align: left;
    padding-top: 8px;
    border-top: 2px solid #eaeaea;
    position: relative;
    margin-top: -1px;
    left: 0;
}
#s_main a, #s_main span {
    outline: none;
}
.s-nplus .s-ncf-name .s-ncf-name-link{
	outline: none;
    display: inline-block;
    width: 57px;
    height: 18px;
    line-height: 18px;
    padding: 1px 0 0 0;
    text-decoration: none;
    color: #656565;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    cursor: default;
}
.s-nplus .s-ncf-navs{
	min-height: 28px;
	overflow: hidden;
    position: relative;
    background: url("../images/nav/s_nplus_line_3e005cdb.png") repeat-y 0 0;
}
ul, ol {
    list-style: none;
}
.s-nplus .s-nplus-nav {
    float: left;
    position: relative;
    width: 135px;
    height: 39px;
    text-align: left;
    font-size: 14px;
    padding: 1px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.s-nplus .s-nplus-nav .s-nplus-inner {
    width: 136px;
    height: 40px;
    position: relative;
    left: -1px;
    top: -2px;
}
#s_main a, #s_main span {
    outline: none;
}
.s-nplus .s-nav-name {
    float: left;
    height: 33px;
    line-height: 33px;
    cursor: pointer;
    padding: 3px 19px 3px 6px;
    text-decoration: none;
}
.s-nplus .s-nav-name img {
    vertical-align: top;
    padding-top: 8px;
    float: left;
    margin-left: 2px;
}
img {
    border: 0;
}
.s-nplus .s-nav-name em {
    display: inline-block;
    height: 33px;
    line-height: 33px;
    text-align: left;
    padding-left: 3px;
    float: left;
    width: 86px;
    overflow: hidden;
    color: #222;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
em {
    font-style: normal;
}

/*导航样式之推荐导航*/
.s-nused {
    position: relative;
    width: 811px;
}
.s-nav-ctner {
    position: relative;
}
.s-nav-ctner .s-hot-navs.three-lines {
    height: 258px;
    padding-top: 15px;
}
.s-nav-ctner .s-hot-navs {
    height: 168px;
    overflow: hidden;
    padding-top: 0;
}
.s-nav-ctner .s-used-navs .used-title, .s-nav-ctner .s-hot-navs .hot-title{
	padding: 4px 7px 0 20px;
    width: 20px;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    color: #999;
    height: 81px;
    float: left;
}
.s-nav-ctner .s-used-navs .s-used-area, .s-nav-ctner .s-hot-navs .s-hot-area {
    width: 764px;
    float: left;
}
.s-nav-ctner .nav-item, .s-nav-ctner .nav-blank {
    display: inline-block;
    width: 115px;
    height: 70px;
    vertical-align: top;
    background: #F8F8F8;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    position: relative;
}
.s-nav-ctner .nav-warpper {
    margin: 0 8px 14px 0;
    position: relative;
    float: left;
}
.s-nav-ctner .nav-big img {
    width: 115px;
    height: 70px;
}
